{erl_opts, [{i, "src"},
            warnings_as_errors,
            {w, all},
            warn_export_all]}.

{clean_files, [".eunit",
               "ebin/*.beam"]}.

{port_env, [{"CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"}]}.

{port_specs, [
    {"priv/{{modid}}_nif.so", ["c_src/{{modid}}_nif.c"]}
]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

